.glitch{
  color:black;
  font-size:3rem;
  position:relative;
  margin:0 auto;
}
@keyframes noise-anim{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(2/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,40000);
    }
  }
}
.glitch:after{
  content:attr(data-text);
  position:absolute;
  left:2px;
  text-shadow:-1px 0 red;
  top:0;
  color:black;
  background:rrgba(238, 238, 238, 0.1);
  overflow:hidden;
  clip:rect(0,900px,0,0);
  animation:noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(200)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:before{
  content:attr(data-text);
  position:absolute;
  left:-2px;
  text-shadow:1px 0 black;
  top:0;
  color:black;
  background: rgba(238, 238, 238, 0.1);
  overflow:hidden;
  clip:rect(0,900px,0,0);
  animation:noise-anim-2 4s infinite linear alternate-reverse;
}
