doctype html
html(ng-app="dotolo")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Dylan Dotolo | Developer & Designer
        meta(name="description" content="My name is Dylan Dotolo and I am a developer/designer looking to create amazing things! I am a problem solver and love challanges that push me. I love to code and travel the world looking for adventures.")
        meta(name="theme-color" content="#03a9f4")
        <!-- Add to homescreen for Chrome on Android -->
        meta(name="mobile-web-app-capable" content="yes")
        meta(name="application-name" content="Dylan Dotolo")
        link(rel="icon" sizes="192x192" href="../images/favicon.png")
        <!-- Add to homescreen for Safari on iOS -->
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="black")
        meta(name="apple-mobile-web-app-title" content="Dylan Dotolo")
        link(rel="apple-touch-icon" href="../images/favicon.png")
        link(rel="stylesheet" href="css/style.css")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js")
        script(src="js/app.js")
        <!-- FontAwesome -->
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
        <!-- Lora Font CDN -->
        link(href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css')
        <!-- Open Sans Font CDN -->
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css')
        <!-- Monserrat Font CDN -->
        link(href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css')
        //- Titillium Font CDN
        link(href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200' rel='stylesheet' type='text/css')

    body
    header(id="large-header" class="main-header")
        div(class="info")
            img(src="../images/logo.png")
            //- h1(class="glitch" data-text="Hello, I am Dylan") Hello,I am Dylan
            h1 #[span(class="blue") Hello], I am Dylan
        canvas(id="demo-canvas")
    div(class="info-summary")
        h2 I am a developer looking to make awesome things.
        //- Personal Card
        div(class="info-card")
            div(class="card-header")
                span header
            div(class="profile")
                img(src="../images/profile-img.jpg" class="profile-img")
            div(class="btn")
                span My Portfolio
        //- bb8 animation
        //- include ./starwars.jade
    //- social links
    div(class="social-wrapper")
        //- GitHub info card
        div(class="info-card")
            div(class="social")
                img(src="../images/github-octocat.png")
            div(class="social-links")
                div(class="btn")
                    span Code
        //- Twitter info card
        div(class="info-card")
            div(class="social")
                img(src="../images/twitter.png")
            div(class="social-links")
                div(class="btn")
                    span Tweets
        //- YouTube info card
        div(class="info-card")
            div(class="social")
                img(src="../images/youtube.png")
            div(class="social-links")
                div(class="btn")
                    span Videos

        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js")    
        script(src="../js/lines.js")
        script(src="../js/starwars.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
        script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js")
