header(id="large-header" class="main-header")
    div(class="info")
        img(src="../images/logo.png")
        //- h1(class="glitch" data-text="Hello, I am Dylan") Hello,I am Dylan
        h1 #[span(class="blue") Hello], I am Dylan
    canvas(id="demo-canvas")
div(class="info-summary")
    h2 I am a developer looking to make awesome things.
    //- Personal Card
    div(class="info-card")
        div(class="card-header")
            span header
        div(class="profile")
            img(src="../images/profile-img.jpg" class="profile-img")
        div(class="btn")
            span My Portfolio
    //- bb8 animation
    include ./starwars.jade
//- social links
div(class="social-wrapper")
    //- GitHub info card
    div(class="info-card")
        div(class="social")
            img(src="../images/github-octocat.png")
        div(class="social-links")
            div(class="btn")
                span Code
    //- Twitter info card
    div(class="info-card")
        div(class="social")
            img(src="../images/twitter.png")
        div(class="social-links")
            div(class="btn")
                span Tweets
    //- YouTube info card
    div(class="info-card")
        div(class="social")
            img(src="../images/youtube.png")
        div(class="social-links")
            div(class="btn")
                span Videos
