
div(class="artboard")
    //- h1 StarWars
    div(id="bb8")
        div(id="bb8-body")
            div(class="dot dot-1")
                div(class="line line-1")
                div(class="line line-2")
                div(class="line line-3")
            div(class="dot dot-2")
            div(class="circle circle-1")
            div(class="circle circle-2")
            div(class="circle circle-3")
            div(class="body-shadow-crop")
                div(class="body-shadow")
        div(class="bb8-head")
            div(class="head-bottom")
                div(class="head-side-1")
                div(class="head-side-2")
                div(class="head-bottom-base")
            div(class="head-top-crop")
                div(class="head-top")
            div(class="lens")
            div(class="freckle")
        div(class="speedlines")
            div(class="one tail")
            div(class="two tail")
            div(class="three")
            div(class="four")
            div(class="five tail")
                
